:root {
    --primary-color: #D9D4D5;
    --secondary-color: #191f24;
    --testing: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    width: 100%;
    background-color: var(--primary-color);
    color: #161313;
}

h1,
header,
footer {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: var(--secondary-color);
    color: #f5f0f0;
}

header,
main,
footer {
    margin: 0.5rem auto;
    border: 1px solid lightgray;
    padding: 5px;
}

nav {
    margin: 0 auto;
    display: flex;
}

/* small view navigation */
.navigation {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: #be1515;
    margin: 1rem auto;
}

.navigation a {
    text-align: center;
    display: none;
    text-decoration: none;
    padding: 5px;
    color: var(--testing);
}

.navigation a:hover {
    background: yellow;
    color: rgb(33, 31, 31);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--testing);
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}


/* when the button is clicked, the open class is toggled (added/removed) */
.open a {
    display: block;
}

.hero {
    text-align: center;
    position: relative;
}

.hero img {
    max-width: 100%;
    height: auto;
    position: relative;
}

.highlight {
    position: absolute;
    top: 260px;
    left: 10px;
    font-size: large;
}

section {
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.offer a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #161313
}

.button a {
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: rgb(73, 9, 9);
    font-weight: 900;
    font-size: xx-large;
    background-color: var(--testing);
}

.button a:hover {
    background: yellow;
    color: rgb(33, 31, 31);
}

/* form */
.heading,
label {
    padding-top: 1rem;
    color: #5e1403;
    font-size: 0.9rem;
    margin-left: 10px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea,
select {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 600px;
    appearance: none;
}

.contact {
    border: 1px solid brown;
    background: #d9d4d5;
}

input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: 0.8rem;
    width: 96%;
    max-width: 600px;
    margin: 1rem 0 2rem;
}

select:required,
input:required {
    border-bottom: solid 8px red;
}

select:required:valid,
input:required:valid {
    border-bottom: solid 8px green;
}

input[type="submit"]:hover {
    background: yellowgreen;
}

#note {
    font-style: italic;
}