@media (min-width: 650px) {
        main {
              width: 100%;
              position: relative;
          }
    
          /* Floating Data Box */
        .data {
                position: absolute;
                top: 20px;
                left: 30px;
                width: 250px;
                height: 380px;
                background-color: rgba(255, 255, 255, 0.9);
                border-radius: 10px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          }
    
          /* Floating Weather Box */
        .weather {
                position: absolute;
                bottom: 40px;
                right: 20px;
                width: 200px;
                background-color: rgba(255, 255, 255, 0.9);
                border-radius: 10px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          }

        .weather img {
            display: none;
        }

        #weather-icon::after {
            content: "⛅";
        }
 
}